* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#root {
  width: 900px;
  background-color: #f7e9dc;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  font-family: "DM sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper {
  width: 300px;
  background-color: transparent;
}

.card {
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
  border-radius: 10px;
  padding: 5px 15px 0;
}

header {
  height: 60px;
  color: white;
  background-color: hsl(10, 79%, 65%);
}
.content {
  background-color: white;
  margin-top: 10px;
}
.newo {
  border-top: 1px solid hsl(20, 3%, 82%);
  margin-bottom: -10px;
}

.smf {
  font-size: 12px;
}
.faint {
  color: hsl(28, 10%, 53%);
}
.bold {
  font-weight: 700;
}
.balance {
  margin-top: 0;
  margin-bottom: 0;
}

.chart {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
  column-gap: 4px;
}
.amount {
  text-align: center;
  padding: 2px;
  font-size: 10px;
  /* width: 200%; */
  text-align: center;
  color: white;
  background-color: black;
  margin-bottom: 5px;
  border-radius: 4px;
  visibility: hidden;
  position: relative;
  z-index: 999;
}
.chartValue {
  height: 120px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.inner {
  background-color: hsl(10, 79%, 65%);
  width: 100%;
  transition: all 0.3s ease-out;
  border-radius: 5px;
}
.chartDay {
  text-align: center;
  margin-top: 3px;
}

.fromLastMonth {
  text-align: right;
}
